.App {
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

.Login {
  flex: 1;
}

.Login input {
  display: block;
  border: 1px solid black;
  padding: 2px;
  margin: 5px 0;
}

.Login input.error {
  border: 1px solid red;
}

.Login ul.input-errors {
  color: red;
  height: 30px;
}

.Login ul.server-error {
  color: red;
}
